```
# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.user
*.userosscache
*.suo
*.cache
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
*.builds
*.baml

# Visual Studio files
.vs/
*.VC.db
*.VC.VC.opendb

# Visual Studio Code files
.vscode/

# Output directory
bin/
obj/
Debug/
Release/
x64/
x86/
Debug*/
Release*/

# Dependencies
packages/
```